__pycache__/
*.pyc
*.pyo
.cache/
alerts.log
output_nv.txt
.env
.vscode/
venv/
frontend/node_modules/
frontend/dist/

#python main.py --source videos/v_1.mp4
#python main.py --source 0
#python main.py --source videos/NV_1.mp4
#python main.py --source videos/NV_1.mp4w
